*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color: white;
    background-color: rgb(32, 32, 59);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app-content {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1000px) 1fr;
}

.grammar-rules {
    column-count: 3;
}

@media (max-width: 1100px) {
    /* body {
        background-color: green;
    } */

    .grammar-rules {
        column-count: 2;
    }
}

@media (max-width: 900px) {
    /* body {
        background-color: red;
    } */

    #app-content {
        grid-template-columns: 1fr 10fr 1fr;
    }
}


@media (max-width: 800px) {

    span,
    button,
    div {
        font-size: 20pt;
    }

    .grammar-rules {
        column-count: 1;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 1rem;
    width: 100%;
    grid-column: 2/3;
}

main {
    margin-block-start: 1rem;
    grid-column: 2/3;
}

footer {
    margin-block-start: 1rem;
    border-block-start: 2px solid goldenrod;
    padding-block: 1rem;
    text-align: center;
    grid-column: 2/3;
}

button {
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
    margin: 0.25rem;
    border-radius: 5px;
    font-weight: bold;

    background-color: rgba(28, 28, 71, 0.8);
    color: white;

    transition:
        background-color ease-out 200ms,
        color ease-out 200ms;
}

button:hover {
    background-color: white;
    color: black;
}

details {
    margin-block-start: 1rem;
    border-inline-start: 2px solid goldenrod;
    padding-inline-start: 1rem;
}

summary {
    cursor: pointer;
    padding-block: 0.5rem;
    font-size: larger;
    font-weight: bold;
}

summary:hover {
    text-decoration: underline;
}

.grammar-rule {
    break-inside: avoid-column;
}

dt {
    font-weight: bold;
    padding-block-start: 1rem;
}

dd {
    margin-inline-start: 0.5rem;
    padding-inline-start: 0.5rem;
    text-wrap: nowrap;
}

dd::before {
    content: "|";
    padding-inline-end: 0.5rem;
    color: goldenrod;
}

a.nonterminal {
    color: white;
    margin-inline-end: 0.8em;
}


span.terminal {
    font-family: 'Courier New', Courier, monospace;
    padding-inline: 0.25rem;
    border-radius: 5px;
}

span.terminal::before {
    content: '"';
}

span.terminal::after {
    content: '"';
}

a.nonterminal:hover {
    background-color: rgba(57, 57, 120, 0.8);
    border-radius: 3px;
    transition: ease 150ms;
    color: white;
}

@keyframes flash-yellow {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: rgba(255, 255, 0, 0.463);
    }

    100% {
        background-color: transparent;
    }
}

:target {
    border-radius: 3px;
    animation: flash-yellow 500ms;
}

.grammar-container {
    margin-block: 2rem;
    padding-block-end: 1rem;
    /* border-block-end: 2px solid goldenrod; */
}

.sentence {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-wrap: wrap;
}

.sentence::after {
    content: "."
}

.sentence :first-child {
    text-transform: capitalize;
}

.word:hover {
    cursor: pointer;
    text-shadow:
        1px 1px 10px white,
        3px 3px 1px black;
    transition: text-shadow 100ms;
}

.example {
    display: flex;
}

.example h3 {
    margin-inline-end: 1rem;
    padding-inline-end: 1rem;
    border-inline-end: 2px solid goldenrod;
}

.example .translation>* {
    display: flex;
    justify-content: space-between;
}

.sentence {
    padding-inline-start: 1rem;
}

.script-name--roman {
    font-family: 'Times New Roman', Times, serif;
}

.script-name--old-italic {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin-block-start: 1rem;
}

.wordgen-lang {
    border: 1px solid goldenrod;
    border-radius: 2px;
    padding: 1rem;
    columns: 2;
}

.wordgen-lang li {
    list-style-position: inside;
}

.sample-syllable {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-inline: 0.5rem;
    font-size: 2em;
}

.sample-word {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-inline: 0.5rem;
    font-size: 2em;
}