*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color: white;
    background-color: rgb(32, 32, 59);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app-content {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1000px) 1fr;
}

.grammar-rules {
    column-count: 3;
}

@media (max-width: 1100px) {
    /* body {
        background-color: green;
    } */

    .grammar-rules {
        column-count: 2;
    }
}

@media (max-width: 900px) {
    /* body {
        background-color: red;
    } */

    #app-content {
        grid-template-columns: 1fr 10fr 1fr;
    }
}


@media (max-width: 800px) {

    span,
    button,
    div {
        font-size: 20pt;
    }

    .grammar-rules {
        column-count: 1;
    }
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 1rem;
    width: 100%;
    grid-column: 2/3;
}

main {
    margin-block-start: 1rem;
    grid-column: 2/3;
}

footer {
    margin-block-start: 1rem;
    border-block-start: 2px solid goldenrod;
    padding-block: 1rem;
    text-align: center;
    grid-column: 2/3;
}

button {
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
    margin: 0.25rem;
    border-radius: 5px;
    font-weight: bold;

    background-color: rgba(28, 28, 71, 0.8);
    color: white;

    transition:
        background-color ease-out 200ms,
        color ease-out 200ms;
}

button:hover {
    background-color: white;
    color: black;
}

details {
    margin-block-start: 1rem;
    border-inline-start: 2px solid goldenrod;
    padding-inline-start: 1rem;
}

summary {
    cursor: pointer;
    padding-block: 0.5rem;
    font-size: larger;
    font-weight: bold;
}

summary:hover {
    text-decoration: underline;
}

.grammar-rule {
    break-inside: avoid-column;
}

.grammar-rules dt {
    font-weight: bold;
    padding-block-start: 1rem;
}

.grammar-rules dd {
    margin-inline-start: 0.5rem;
    padding-inline-start: 0.5rem;
    text-wrap: nowrap;
}

.grammar-rules dd::before {
    content: "|";
    padding-inline-end: 0.5rem;
    color: goldenrod;
}

a.nonterminal {
    color: white;
    margin-inline-end: 0.8em;
}


span.terminal {
    font-family: 'Courier New', Courier, monospace;
    padding-inline: 0.25rem;
    border-radius: 5px;
}

span.terminal::before {
    content: '"';
}

span.terminal::after {
    content: '"';
}

a.nonterminal:hover {
    background-color: rgba(57, 57, 120, 0.8);
    border-radius: 3px;
    transition: ease 150ms;
    color: white;
}

@keyframes flash-yellow {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: rgba(255, 255, 0, 0.463);
    }

    100% {
        background-color: transparent;
    }
}

:target {
    border-radius: 3px;
    animation: flash-yellow 500ms;
}

.grammar-container {
    margin-block: 2rem;
    padding-block-end: 1rem;
    /* border-block-end: 2px solid goldenrod; */
}

.sentence {
    font-size: larger;
    text-wrap: wrap;
    line-height: 1.5em;
}

.sentence::after {
    content: "."
}

.sentence .word-and-subscript:first-child {
    text-transform: capitalize;
}

.word:hover {
    cursor: pointer;
    text-shadow:
        1px 1px 10px white,
        3px 3px 1px black;
    transition: text-shadow 100ms;
}

.example {
    display: flex;
}

@media (width <=800px) {
    .example {
        flex-direction: column;
    }

    .example h3 {
        text-decoration: underline solid goldenrod;
    }

    .example div {
        margin-block-start: 1.5rem;
    }
}

@media (width > 800px) {
    .example {
        flex-direction: row;
        width: 100%;
    }

    .example dl {
        width: 80%;
    }

    .example .translation>* {
        display: flex;
        justify-content: space-between;
    }

    .sentence {
        padding-inline-start: 1rem;
    }

    .example h3 {
        margin-inline-end: 1rem;
        padding-inline-end: 1rem;
        border-inline-end: 2px solid goldenrod;
    }

}

.example dt {
    font-weight: bold;
    font-variant: petite-caps;
    font-size: smaller;
}



.script-name--roman {
    font-family: 'Times New Roman', Times, serif;
}

.script-name--old-italic {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin-block-start: 1rem;
}

.wordgen-lang {
    border: 1px solid goldenrod;
    border-radius: 2px;
    padding: 1rem;
    columns: 2;
}

.wordgen-lang li {
    list-style-position: inside;
}

.sample-syllable {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-inline: 0.5rem;
    /* font-size: 2em; */
}

.sample-word .ipa {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-inline: 0.5rem;
    /* font-size: 2em; */
}

.sample-word .orthography {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-inline: 0.5rem;
    font-weight: bold;
}

.word {
    display: inline-block;
}

.word.selected {
    border-radius: 3px;
    transition: ease 150ms;
    color: rgb(244, 145, 249);
    text-decoration: underline;
    text-decoration-style: dashed;
    animation: blink 750ms infinite;
}

@keyframes blink {
    0% {
        text-decoration-color: inherit;
        text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
    }

    50% {
        text-decoration-color: transparent;
        text-shadow: none;
    }

    100% {
        text-decoration-color: inherit;
        text-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
    }
}

.word {
    transition: ease 150ms;
    border-radius: 3px;

    &:not(.incorrect-translation) {

        &.hovered {
            color: rgb(244, 244, 84);
            text-shadow: 1px 1px 10px white;
            text-decoration: underline;
            text-decoration-style: dotted;
        }

        &.translated {
            color: rgb(162, 255, 162);
            text-decoration: underline;
        }
    }


    &.incorrect-translation {
        color: rgb(255, 137, 137);
        text-decoration: red wavy underline;
        text-decoration-thickness: 1px;
        text-decoration-line: spelling-error;
    }


}

.word-and-subscript:has(.multi-homonym-option:checked) .word.translated {
    color: rgb(157, 203, 157);
    text-decoration: underline;
    text-decoration-style: dotted;
}

.word-count {
    color: rgba(255, 255, 255, 0.75);
    vertical-align: sub;
    font-size: x-small;
}

ruby {
    ruby-position: under;
}

rt {
    font-style: italic;

    &::before {
        content: "(";
    }

    &::after {
        content: ")";
    }

    &:has(select)::before,
    &:has(select)::after {
        content: ""
    }

    & select {
        font-style: oblique;
        font-size: smaller;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 3px;
        padding: 0.2rem;
    }

    & option {
        color: black;
    }

}

#app-outer-content {
    position: absolute;
}

#answer-checking-toggle {
    position: fixed;
    top: 0;
    left: 0;

    border-radius: 0 50% 50% 0;
    border: none;

    width: min-content;
    margin: 0;
    padding: 0.65rem;

    font-family: serif;
    font-size: larger;

    background-color: rgba(90, 97, 196, 0.623);

    &.answer-checking-on {
        background-color: goldenrod;
        outline: 3px dashed rgb(143, 110, 0);
    }

    &:hover {

        &.answer-checking-off {
            outline: 2px solid white;
            background-color: rgba(180, 185, 253, 0.623);
        }

        &.answer-checking-on {
            outline: 2px solid rgb(143, 110, 0);
            background-color: rgb(150, 116, 32);
        }
    }
}

#wrap-user-translations-toggle {
    position: absolute;
}


#user-translations-toggle-label {
    position: fixed;
    width: min-content;
    background-color: goldenrod;

    padding: 0.5rem;
    display: block;

    left: 0;
    top: 0;
    transform: translateX(-100%);
    border-radius: 50% 0 0 50%;

    transition: background-color 100ms ease,
        outline 100ms ease;

    &:hover {
        background-color: color-mix(in oklab, goldenrod, white);
        outline: 2px solid white;
    }


    &::before {
        content: "📘";
        font-size: x-large;
        padding: 0.25rem;
    }
}

#user-translations-toggle {
    appearance: none;
}

#user-translations:has(#user-translations-toggle:checked) {
    transform: translateX(0);

    & #user-translations-toggle-label {

        &::before {
            content: "📖";
            padding: 0.1rem;
        }
    }
}

#user-translations {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform ease 150ms;
    height: 100dvh;

    background-color: rgba(46, 49, 75, 0.8);
    backdrop-filter: blur(8px);

    border-left: 3px solid goldenrod;

    display: flex;
    justify-content: center;




    & #user-translations-table-wrap {
        overflow-y: scroll;
        width: 100%;
    }


    & table {
        width: 100%;
        border-collapse: collapse;
    }

    /* continue formatting for table */
    & th,
    td {
        border: 1px solid goldenrod;
        padding: 0.2rem;
        text-align: center;
    }

    & th {
        border-bottom: 4px double goldenrod;
    }

    & tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.3);
    }

    & td:has(button) {
        padding: 0;
    }

    & button {
        padding: 0.5rem;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;
        border: none;
        background-color: transparent;
        color: white;
        font-family: sans-serif;
    }

    & button:hover {
        background-color: goldenrod;
        color: black;
    }

    & button:active {
        background-color: white;
        color: goldenrod;
    }
}